# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для определения зависимости между количеством детей и возвратом кредита в срок построим сводную таблицу

In [22]:
data_pivot_children_1 = data.pivot_table(index='children', columns='debt', values='total_income', aggfunc='count')
data_pivot_children_1

debt            0       1
children
0         13028.0  1063.0
1          4364.0   444.0
2          1858.0   194.0
3           303.0    27.0
4            37.0     4.0
5             9.0     NaN

<span style="color:green">Вычислим процент семей, возвращающих кредит в срок:</span>

In [23]:
data_pivot_children_1['debt_prop'] = (data_pivot_children_1[0] / (data_pivot_children_1[0] + data_pivot_children_1[1])).round(3)
data_pivot_children_1

debt            0       1  debt_prop
children
0         13028.0  1063.0      0.925
1          4364.0   444.0      0.908
2          1858.0   194.0      0.905
3           303.0    27.0      0.918
4            37.0     4.0      0.902
5             9.0     NaN        NaN

<span style="color:green">Расчет процента должников по первоначальным группам не дает сделать корректный анализ, т.к. группы с 3, 4 и 5 детьми слишком малочисленны, чтобы сделать по ним правильные выводы.</span>

<div class="alert alert-warning">
    <h3> Комментарий ревьюера v2 ⚠️<a class="tocSkip"> </h3>

 Верно, именно поэтому можно сравнить группы с 0-2 детьми.
</div>

На основании получившейся сводной таблицы можно сделать вывод, что есть смысл семьи сгруппировать на две категории: без детей (0 детей) и с детьми (более 1 ребенка).
Для этого создадим функцию, которая на основании данных из столбца `children` сформирует новый столбец `children_category`.

<div class="alert alert-warning">
    <h3> Комментарий ревьюера ⚠️<a class="tocSkip"> </h3>

Да, можно разделить все группы на две категории, но имеет смысл также сравнить процент должников по первоначальным группам, так как эта информация может быть важна для заказчика.

</div>

<div class="alert alert-block alert-info">
    
<h3> Комментарий студента  <a class="tocSkip"></h3>
    
Добавил расчеты по первоначальным группам, изменения выделил зеленым цветом
    
</div>

In [24]:
def categorize_children(row):
    if row == 0:
        return 'семья без детей'
    if row >= 1:
        return 'семья с детьми'

In [25]:
data['children_category'] = data['children'].apply(categorize_children)

Построим сводную таблицу по полученному датафрейму:

In [26]:
data_pivot_children = data.pivot_table(index='children_category', columns='debt', values='total_income', aggfunc='count').reset_index()
data_pivot_children

debt children_category      0     1
0      семья без детей  13028  1063
1       семья с детьми   6571   669

Вычислим процент семей, возвращающих кредит в срок:

In [27]:
data_pivot_children['debt_prop'] = (data_pivot_children[0] / (data_pivot_children[0] + data_pivot_children[1])).round(3)
data_pivot_children

debt children_category      0     1  debt_prop
0      семья без детей  13028  1063      0.925
1       семья с детьми   6571   669      0.908

**Вывод:** из полученных данных можно сделать вывод, что прослеживается зависимость между количеством детей и возвратом кредита в срок - семьи без детей возвращают кредит в срок чаще, чем семьи без детей

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Для определения зависимости между семейным положением и возвратом кредита в срок построим сводную таблицу

In [28]:
data_pivot_family_status_1 = data.pivot_table(index='family_status', columns='debt', values='total_income', aggfunc='count')
data_pivot_family_status_1

debt                       0    1
family_status
Не женат / не замужем   2523  273
в разводе               1105   84
вдовец / вдова           888   63
гражданский брак        3749  385
женат / замужем        11334  927

<span style="color:green">Вычислим процент семей, возвращающих кредит в срок:</span>

In [29]:
data_pivot_family_status_1['debt_prop'] = (data_pivot_family_status_1[0] / (data_pivot_family_status_1[0] + data_pivot_family_status_1[1])).round(3)
data_pivot_family_status_1

debt                       0    1  debt_prop
family_status
Не женат / не замужем   2523  273      0.902
в разводе               1105   84      0.929
вдовец / вдова           888   63      0.934
гражданский брак        3749  385      0.907
женат / замужем        11334  927      0.924

<span style="color:green">На основании текущих групп прослеживается зависимость между семейным положением и возвратом кредита в срок</span>

Попробуем сгруппировать данные на две категории: не женат / не замужем и женат / замужем.
Для этого создадим функцию, которая на основании данных из столбца `family_status` сформирует новый столбец `family_status_category`.

In [30]:
def categorize_family_status(row):
    if row in ['Не женат / не замужем', 'в разводе', 'вдовец / вдова']:
        return 'не женат / не замужем'
    if row in ['гражданский брак', 'женат / замужем']:
        return 'женат / замужем'

In [31]:
data['family_status_category'] = data['family_status'].apply(categorize_family_status)

Построим сводную таблицу по полученному датафрейму:

In [32]:
data_pivot_family_status_2 = data.pivot_table(index='family_status_category', columns='debt', values='total_income', aggfunc='count').reset_index()
data_pivot_family_status_2

debt family_status_category      0     1
0           женат / замужем  15083  1312
1     не женат / не замужем   4516   420

Вычислим процент возвращающих кредит в срок по получившимся категориям:

In [33]:
data_pivot_family_status_2['debt_prop'] = (data_pivot_family_status_2[0] / (data_pivot_family_status_2[0] + data_pivot_family_status_2[1])).round(3)
data_pivot_family_status_2

debt family_status_category      0     1  debt_prop
0           женат / замужем  15083  1312      0.920
1     не женат / не замужем   4516   420      0.915

<span style="color:green">По полученным двум группам зависимость между семейным положением и возвратом кредита в срок в целом не прослеживается (около 92% семей возвращают кредит в срок незавивисимо от семейного положения). Т.к. при разделении всех групп на две категории различия могут размываться, попробуем объединить начальные категории на большее количество групп.</span>

<span style="color:green">Для этого создадим функцию, которая на основании данных из столбца `family_status` сформирует новый столбец `family_status_category_2`.</span>

In [34]:
def categorize_family_status_2(row):
    if row in ['женат / замужем']:
        return 'в браке'
    if row in ['Не женат / не замужем', 'гражданский брак']:
        return 'не в браке'
    if row in ['в разводе', 'вдовец / вдова']:
        return 'был в браке'

In [35]:
data['family_status_category_2'] = data['family_status'].apply(categorize_family_status_2)

<span style="color:green">Построим сводную таблицу по полученному датафрейму:</span>

In [36]:
data_pivot_family_status_3 = data.pivot_table(index='family_status_category_2', columns='debt', values='total_income', aggfunc='count').reset_index()
data_pivot_family_status_3

debt family_status_category_2      0    1
0                 был в браке   1993  147
1                     в браке  11334  927
2                  не в браке   6272  658

<span style="color:green">Вычислим процент возвращающих кредит в срок по получившимся категориям:</span>

In [37]:
data_pivot_family_status_3['debt_prop'] = (data_pivot_family_status_3[0] / (data_pivot_family_status_3[0] + data_pivot_family_status_3[1])).round(3)
data_pivot_family_status_3

debt family_status_category_2      0    1  debt_prop
0                 был в браке   1993  147      0.931
1                     в браке  11334  927      0.924
2                  не в браке   6272  658      0.905

<span style="color:green">**Вывод:** из полученных данных можно сделать вывод, что прослеживается зависимость между семейным положением и возвратом кредита в срок - клиенты, которые состоят в браке или были в нем возвращают кредит чаще тех, кто не состоит в браке</span>

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Для определения зависимости между уровнем дохода и возвратом кредита в срок построим сводную таблицу по категориях дохода, сформированным ранее

In [38]:
data_pivot_total_income = data.pivot_table(index='total_income_category', columns='debt', values='total_income', aggfunc='count').reset_index()
data_pivot_total_income

debt total_income_category      0     1
0                        A     23     2
1                        B   4660   354
2                        C  14568  1353
3                        D    328    21
4                        E     20     2

Вычислим процент возвращающих кредит в срок по получившимся категориям:

In [39]:
data_pivot_total_income['debt_prop'] = (data_pivot_total_income[0] / (data_pivot_total_income[0] + data_pivot_total_income[1])).round(3)
data_pivot_total_income

debt total_income_category      0     1  debt_prop
0                        A     23     2      0.920
1                        B   4660   354      0.929
2                        C  14568  1353      0.915
3                        D    328    21      0.940
4                        E     20     2      0.909

<span style="color:green">Какой-либо достоверный анализ можно произвести только по группам B и C - по остальным слишком мало данных, чтобы делать какие-либо существенные выводы</span>

<span style="color:green">**Вывод:** из полученных данных можно сделать вывод, что прослеживается зависимость между уровнем дохода и возвратом кредита в срок - чем выше уровень дохода, тем выше вероятность возврата кредита</span>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Для того чтобы определить, как цели кредита влияют на его возврат в срок построим сводную таблицу по целям кредита, сформированным ранее

In [40]:
data_pivot_purpose = data.pivot_table(index='purpose_category', columns='debt', values='total_income', aggfunc='count').reset_index()
data_pivot_purpose

debt          purpose_category     0    1
0       операции с автомобилем  3879  400
1     операции с недвижимостью  9971  780
2        получение образования  3619  369
3           проведение свадьбы  2130  183

Вычислим процент возвращающих кредит в срок по получившимся категориям:

In [41]:
data_pivot_purpose['debt_prop'] = (data_pivot_purpose[0] / (data_pivot_purpose[0] + data_pivot_purpose[1])).round(3)
data_pivot_purpose

debt          purpose_category     0    1  debt_prop
0       операции с автомобилем  3879  400      0.907
1     операции с недвижимостью  9971  780      0.927
2        получение образования  3619  369      0.907
3           проведение свадьбы  2130  183      0.921

<span style="color:green">**Вывод:** из полученных данных можно сделать вывод, что цели кредита влияют на его возврат в срок - кредит возвращают с большей долей вероятности, если он взят на приобретение недвижимости (возможно, из-за более низких процентов на ипотеку, нежели на обычный кредит) и свадьбу (скорее всего молодежены возвращают кредит из денег, подаренных гостями на свадьбу).</span>

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски в данных появляются разными путями. Например, пользователь не указал о себе какие-нибудь сведения или автоматизированная система сбора информации дала сбой. Иногда пропуски оставляют умышленно, рассчитывая на автозаполнение спецсимволами.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Среднее значение некорректно характеризует данные, когда некоторые значения сильно выделяются среди большинства, т.е. когда в данных встречаются аномальные значения. В таких случаях использование медианы дает более корректные, правильные значения, нежели среднее.

### Шаг 4: общий вывод.

Для проведения исследования и получения корректных результатов были проделаны работы по обработке исходного датасета. Предобработка данных включала в себя:
1. Удаление пропусков данных в столбце с общим трудовым стажем в днях (`days_employed`) - пропуски были заполнены медианным трудовым стажем среди всех записей с тем же типом.
2. Удаление пропусков данных в столбце с ежемесячным доходом (`total_income`) - пропуски были заполнены медианным доходом среди всех записей с тем же типом.
3. Замена отрицательных показателей с общим трудовым стажем в днях (`days_employed`) положительными значениями. У двух типов (безработные и пенсионеры) получились аномально большие значения медианного трудового стажа, но т.к. эти данные не использовались в ииследовании, их оставили неизменными.
4. В столбце с количеством детей в семье (`children`) были обнаружены два аномальных значения (-1 и 20), поэтому из датасета были удалены строки, которые имели эти аномальные значения.
5. Замена вещественного типа данных в столбце с ежемесячным доходом (`total_income`) на целочисленный.
6. В столбце с уровенем образования клиента (`education`) были обработаны неявные дубликаты (одни и те же значения, но записанные по-разному - с использованием заглавных и строчных букв).
7. Удаление 71 строки-дубликата в данных.
8. Осуществлена категоризация данных для проведения дальнейшего исследования.

Были проверены четыре гипотезы и установлены следующие зависимости:
1. Имеется зависимость между количеством детей и возвратом кредита в срок - семьи без детей возвращают кредит в большем количестве случаев, нежели семьи с детьми. Скорее всего семьи без детей имеют больше свободных средств для погашения кредита, нежели семьи без детей.
2. Прослеживается зависимость между семейным положением и возвратом кредита в срок - клиенты, которые состоят в браке или были в нем, возвращают кредит чаще тех, кто не состоит в браке. Возможно, люди в браке более дисциплинированны в финансовом плане и более ответственно относятся к своим долговым обязательствам.
3. Подтверждена зависимость между уровнем дохода и возвратом кредита в срок. Разные категории семей по уровню дохода возвращают кредит по-разному - чем выше уровень дохода, тем выше вероятность возврата кредита.
4. Разные цели кредита влияют на его возврат в срок. Кредит возвращают с большей долей вероятности, если он взят на приобретение недвижимости (возможно, из-за более низких процентов на ипотеку, нежели на обычный кредит) и свадьбу (скорее всего молодежены возвращают кредит из денег, подаренных гостями на свадьбу). Есть больший риск невозврата кредита, если он был взят на автомобиль и образование.

С учетом представленного исследования при построении модели кредитного скоринга кредитному отделу банка рекомендуется учитывать количество детей клиентов, их семейное положение, уровень дохода и цель кредита. Наиболее высокая способность потенциального заемщика вернуть кредит банку, если он в браке, не имеет детей, имеет высокий доход и берет кредит на приобретение недвижимости.